.facebook-negative21 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.social-wrapper22 {
  position: absolute;
  top: 401px;
  left: 1136px;
  width: 144px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.finstreet-118-25617,
.hellofinsweetcom-020-79937 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  width: 361px;
  opacity: 0.7;
}
.hellofinsweetcom-020-79937 {
  white-space: pre-wrap;
}
.contact-informations7 {
  position: absolute;
  top: 389px;
  left: 0;
  width: 361px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.subscribe14 {
  position: relative;
  line-height: 24px;
}
.button25 {
  position: absolute;
  top: 84px;
  left: 1037px;
  background-color: var(--yellow);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-29xl);
}
.enter-your-email7 {
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 135.3px;
  height: 28px;
  flex-shrink: 0;
}
.input7,
.subscribe-to-our7 {
  position: absolute;
  display: flex;
}
.input7 {
  top: 84px;
  left: 690px;
  border: 1px solid var(--dark-grey);
  box-sizing: border-box;
  width: 323px;
  height: 56px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 24.91796875px;
  font-size: var(--body-1-size);
  color: var(--medium-grey);
  font-family: var(--body-1);
}
.subscribe-to-our7 {
  top: 80px;
  left: 64px;
  font-size: var(--heading-h2-size);
  letter-spacing: -2px;
  line-height: 48px;
  color: var(--light);
  align-items: center;
  width: 562px;
}
.cta7 {
  position: absolute;
  top: 85px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1280px;
  height: 256px;
  font-size: var(--font-size-lg);
  color: var(--black);
  font-family: var(--heading-h2);
}
.about-us18,
.links-list14 {
  display: flex;
  align-items: center;
}
.about-us18 {
  position: relative;
  line-height: 28px;
  width: 71px;
  height: 27.7px;
  flex-shrink: 0;
}
.links-list14 {
  position: absolute;
  top: 0;
  left: 846px;
  width: 434px;
  height: 28.7px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.logo-icon14 {
  position: absolute;
  height: 6.38%;
  width: 10.94%;
  top: 0.45%;
  right: 88.83%;
  bottom: 93.17%;
  left: 0.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.content12 {
  position: relative;
  width: 1280px;
  height: 445px;
}
.footer7 {
  position: absolute;
  top: 1348px;
  left: 0;
  background-color: var(--black);
  width: 1440px;
  height: 560px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-37xl) 0;
  box-sizing: border-box;
  color: var(--light);
}
.full-name {
  position: relative;
  line-height: 28px;
}
.full-name-wrapper {
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 768px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl);
}
.query-related {
  position: relative;
  line-height: 28px;
  white-space: pre-wrap;
}
.wrapper-vector-1-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(2);
}
.wrapper-vector-1 {
  position: relative;
  width: 8px;
  height: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-wrapper,
.query-related-parent {
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 768px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xl);
}
.query-related-parent {
  align-items: center;
  gap: 565px;
}
.message-wrapper {
  height: 144px;
  align-items: flex-start;
}
.background18 {
  position: relative;
  background-color: var(--yellow);
  width: 768px;
  height: 64px;
}
.send-message {
  position: relative;
  line-height: 32px;
  display: inline-block;
  margin-top: -32px;
}
.button26 {
  width: 768px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--heading-h4-size);
  font-family: var(--heading-h2);
}
.background19,
.form {
  position: absolute;
  width: 768px;
}
.form {
  top: 720px;
  left: 336px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0.00018310546875px 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.background19 {
  top: 0;
  right: 0;
  background-color: var(--purple);
  height: 240px;
}
.hellofinsweetcom {
  position: absolute;
  top: 84px;
  right: 137.5px;
  line-height: 28px;
  display: inline-block;
  width: 156.5px;
  opacity: 0.6;
}
.b1,
.line {
  position: absolute;
}
.b1 {
  top: 52px;
  right: 101.3px;
  font-size: var(--heading-h5-size);
  line-height: 32px;
  display: inline-block;
  font-family: var(--heading-h2);
  width: 193px;
}
.line {
  top: 35.5px;
  right: -0.5px;
  background-color: var(--light);
  border-top: 1px solid var(--light);
  box-sizing: border-box;
  width: 295px;
  height: 1px;
  opacity: 0.1;
}
.contact-us17 {
  position: absolute;
  top: 0;
  right: 217.3px;
  font-size: var(--label-01-size);
  line-height: 20px;
  display: inline-block;
  width: 76.7px;
  opacity: 0.6;
}
.social2 {
  position: absolute;
  top: 128px;
  right: 205px;
  width: 89px;
  height: 10px;
  opacity: 0.8;
}
.contact-us16 {
  position: absolute;
  top: 48px;
  left: 400px;
  width: 294.3px;
  height: 138px;
}
.our-support-team {
  position: absolute;
  top: 116px;
  right: 29px;
  font-size: var(--body-1-size);
  line-height: 28px;
  opacity: 0.6;
}
.am-to-800,
.monday-to-friday {
  position: absolute;
  top: 84px;
  right: 57px;
  line-height: 32px;
  display: inline-block;
  font-family: var(--heading-h2);
  width: 237px;
}
.monday-to-friday {
  top: 52px;
  right: 71px;
  width: 223px;
}
.working-hours {
  position: absolute;
  top: 0;
  right: 198px;
  font-size: var(--label-01-size);
  line-height: 20px;
  opacity: 0.6;
}
.working-hour {
  position: absolute;
  top: 48px;
  left: 64px;
  width: 294px;
  height: 144px;
  font-size: var(--heading-h5-size);
}
.contact-us15 {
  position: absolute;
  top: 448px;
  left: 336px;
  width: 768px;
  height: 240px;
  color: var(--light);
}
.contact-us18 {
  position: absolute;
  top: 0;
  left: 317px;
  letter-spacing: 3px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 900;
}
.lets-start-a,
.lorem-ipsum-dolor42 {
  position: absolute;
  display: inline-block;
}
.lets-start-a {
  top: 32px;
  left: 105px;
  font-size: var(--heading-h1-size);
  letter-spacing: -2px;
  line-height: 64px;
  font-family: var(--heading-h2);
  width: 557px;
}
.lorem-ipsum-dolor42 {
  top: 120px;
  right: 0;
  line-height: 28px;
  color: var(--medium-grey);
  width: 768px;
}
.heading8 {
  position: absolute;
  top: 208px;
  left: 336px;
  width: 768px;
  height: 176px;
  text-align: center;
}
.button27,
.links-list15 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button27 {
  top: 12px;
  left: 1181px;
  background-color: var(--light);
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-29xl);
}
.links-list15 {
  top: 26px;
  left: 844px;
  width: 305px;
  height: 29px;
  align-items: center;
  gap: var(--gap-5xl);
  font-size: var(--body-1-size);
  color: var(--light);
  font-family: var(--body-1);
}
.logo-icon15 {
  position: absolute;
  top: 25px;
  left: 83px;
  width: 140px;
  height: 28.4px;
  overflow: hidden;
  object-fit: cover;
}
.navbar7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black);
  width: 1440px;
  height: 80px;
  font-size: var(--font-size-lg);
  font-family: var(--heading-h2);
}
.contact {
  background-color: var(--light);
  width: 1440px;
  height: 1908px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-1-size);
  color: var(--black);
  font-family: var(--body-1);
}
