.facebook-negative2 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.social-wrapper3 {
  position: absolute;
  top: 401px;
  left: 1136px;
  width: 144px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.finstreet-118-25611,
.hellofinsweetcom-020-79931 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  width: 361px;
  opacity: 0.7;
}
.hellofinsweetcom-020-79931 {
  white-space: pre-wrap;
}
.contact-informations1 {
  position: absolute;
  top: 389px;
  left: 0;
  width: 361px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.subscribe2 {
  position: relative;
  line-height: 24px;
}
.button5 {
  position: absolute;
  top: 84px;
  left: 1037px;
  background-color: var(--yellow);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-29xl);
}
.enter-your-email1 {
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 135.3px;
  height: 28px;
  flex-shrink: 0;
}
.input1,
.subscribe-to-our1 {
  position: absolute;
  display: flex;
}
.input1 {
  top: 84px;
  left: 690px;
  border: 1px solid var(--dark-grey);
  box-sizing: border-box;
  width: 323px;
  height: 56px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 24.91796875px;
  font-size: var(--body-1-size);
  color: var(--medium-grey);
  font-family: var(--body-1);
}
.subscribe-to-our1 {
  top: 80px;
  left: 64px;
  font-size: var(--heading-h2-size);
  letter-spacing: -2px;
  line-height: 48px;
  color: var(--light);
  align-items: center;
  width: 562px;
}
.cta1 {
  position: absolute;
  top: 85px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1280px;
  height: 256px;
  font-size: var(--font-size-lg);
  color: var(--black);
  font-family: var(--heading-h2);
}
.home3 {
  position: relative;
  line-height: 28px;
}
.about-us2,
.links-list2 {
  display: flex;
  align-items: center;
}
.about-us2 {
  position: relative;
  line-height: 28px;
  width: 71px;
  height: 27.7px;
  flex-shrink: 0;
}
.links-list2 {
  position: absolute;
  top: 0;
  left: 846px;
  width: 434px;
  height: 28.7px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.logo-icon2 {
  position: absolute;
  height: 6.38%;
  width: 10.94%;
  top: 0.45%;
  right: 88.83%;
  bottom: 93.17%;
  left: 0.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.content1 {
  position: relative;
  width: 1280px;
  height: 445px;
}
.button6,
.footer1 {
  position: absolute;
  display: flex;
}
.footer1 {
  top: 5436px;
  left: 0;
  background-color: var(--black);
  width: 1440px;
  height: 560px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-37xl) 0;
  box-sizing: border-box;
  color: var(--light);
  font-family: var(--body-1);
}
.button6 {
  top: 200px;
  left: 120px;
  background-color: var(--yellow);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-29xl);
  text-align: left;
}
.join-our-team1,
.lorem-ipsum-dolor {
  position: absolute;
  display: inline-block;
}
.lorem-ipsum-dolor {
  top: 112px;
  right: 4px;
  font-size: var(--body-1-size);
  line-height: 28px;
  font-family: var(--body-1);
  color: var(--medium-grey);
  width: 405px;
}
.join-our-team1 {
  top: 0;
  right: 0;
  font-size: var(--heading-h2-size);
  letter-spacing: -2px;
  line-height: 48px;
  width: 414px;
}
.join-our-team {
  position: absolute;
  top: 5052px;
  left: 513px;
  width: 414px;
  height: 256px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.testimonials-child {
  position: absolute;
  top: 79.5px;
  right: 738.5px;
  border-right: 1px solid var(--medium-grey);
  box-sizing: border-box;
  width: 1px;
  height: 311px;
  opacity: 0.4;
}
.next-button-icon {
  position: absolute;
  top: 322px;
  right: 111px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.testimonials-item {
  position: absolute;
  top: 329px;
  right: 197px;
  width: 48px;
  height: 48px;
  object-fit: contain;
}
.jonathan-vallem,
.new-york-usa {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 32px;
}
.new-york-usa {
  top: 32px;
  right: 79px;
  font-size: var(--body-1-size);
  line-height: 28px;
  font-family: var(--body-1);
  color: var(--medium-grey);
}
.profile-picture-icon {
  position: absolute;
  top: 0;
  right: 209px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.profile {
  position: absolute;
  top: 329px;
  left: 637px;
  width: 257px;
  height: 60px;
}
.lorem-ipsum-dolor1 {
  top: 80px;
  right: 174px;
  line-height: 32px;
  width: 469px;
}
.lorem-ipsum-dolor1,
.lorem-ipsum-dolor2,
.what-people-say {
  position: absolute;
  display: inline-block;
}
.what-people-say {
  top: 32px;
  right: 4px;
  font-size: var(--heading-h2-size);
  letter-spacing: -2px;
  line-height: 48px;
  font-family: var(--heading-h2);
  width: 345px;
}
.lorem-ipsum-dolor2 {
  top: 144px;
  right: 0;
  line-height: 28px;
  width: 349px;
}
.testimonials1 {
  position: absolute;
  top: 0;
  right: 196px;
  letter-spacing: 3px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.heading {
  position: absolute;
  top: 92px;
  left: 112px;
  width: 349px;
  height: 200px;
  font-size: var(--body-1-size);
  font-family: var(--body-1);
}
.testimonials {
  position: absolute;
  top: 4460px;
  right: 80px;
  background-color: var(--light-yellow);
  width: 1280px;
  height: 464px;
  font-size: var(--heading-h4-size);
}
.we-are {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 83.8px;
  opacity: 0.6;
}
.featured-in1 {
  position: relative;
  font-size: var(--heading-h4-size);
  line-height: 32px;
  font-family: var(--heading-h2);
}
.featured-in {
  width: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-1-icon,
.logo-2-icon,
.logo-3-icon,
.logo-4-icon {
  position: relative;
  width: 160px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.logo-2-icon,
.logo-3-icon,
.logo-4-icon {
  width: 136px;
}
.logo-3-icon,
.logo-4-icon {
  width: 135px;
}
.logo-4-icon {
  width: 153px;
}
.logo-component,
.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logo-wrapper {
  width: 1015px;
  height: 32px;
  gap: 73px;
  opacity: 0.8;
}
.logo-component {
  position: absolute;
  top: 4312px;
  left: 94px;
  width: 1237px;
  height: 52px;
  gap: 86px;
  font-size: var(--label-01-size);
  color: var(--medium-grey);
  font-family: var(--body-1);
}
.list-of-authors1 {
  position: absolute;
  top: 0;
  right: 534px;
  font-size: var(--heading-h2-size);
  letter-spacing: -2px;
  line-height: 48px;
}
.floyd-miles {
  position: absolute;
  top: 188px;
  right: 77px;
  letter-spacing: -1px;
  line-height: 40px;
}
.content-writer-company {
  position: absolute;
  top: 228px;
  right: 28px;
  font-size: var(--label-01-size);
  line-height: 20px;
  font-family: var(--body-1);
  color: var(--medium-grey);
  text-align: center;
  display: inline-block;
  width: 240px;
}
.twitter-negative3 {
  position: relative;
  width: 16px;
  height: 17px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.social-wrapper4 {
  position: absolute;
  height: 4.94%;
  width: 37.84%;
  top: 82.72%;
  right: 31.08%;
  bottom: 12.35%;
  left: 31.08%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.httpswwwpexelscomphotom-icon {
  position: absolute;
  top: 40px;
  right: 84px;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  object-fit: cover;
}
.item {
  position: absolute;
  top: 96px;
  right: 984px;
  background-color: var(--light-grey);
  width: 296px;
  height: 324px;
}
.jenny-wilson {
  position: absolute;
  top: 188px;
  right: 67px;
  letter-spacing: -1px;
  line-height: 40px;
}
.item1 {
  position: absolute;
  top: 96px;
  right: 328px;
  background-color: var(--light-grey);
  width: 296px;
  height: 324px;
}
.dianne-russell {
  position: absolute;
  top: 188px;
  right: 57px;
  letter-spacing: -1px;
  line-height: 40px;
}
.item-hover {
  position: absolute;
  top: 96px;
  right: 656px;
  background-color: var(--light-yellow);
  width: 296px;
  height: 324px;
}
.leslie-alexander {
  position: absolute;
  top: 188px;
  right: 44px;
  letter-spacing: -1px;
  line-height: 40px;
}
.item2 {
  position: absolute;
  top: 96px;
  right: 0;
  background-color: var(--light-grey);
  width: 296px;
  height: 324px;
}
.list-of-authors {
  position: absolute;
  top: 3796px;
  left: 80px;
  width: 1280px;
  height: 420px;
  font-size: var(--heading-h3-size);
}
.httpswwwpexelscomphotoc-icon1 {
  position: relative;
  width: 949px;
  height: 705px;
  object-fit: cover;
}
.button7 {
  position: absolute;
  top: 448px;
  left: 80px;
  background-color: var(--yellow);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-29xl);
  font-size: var(--font-size-lg);
}
.it-started-out,
.lorem-ipsum-dolor3 {
  position: absolute;
  right: 80px;
  display: inline-block;
  width: 546px;
}
.lorem-ipsum-dolor3 {
  top: 332px;
  line-height: 28px;
  font-family: var(--body-1);
  color: var(--medium-grey);
}
.it-started-out {
  top: 124px;
  font-size: var(--heading-h1-size);
  letter-spacing: -2px;
  line-height: 64px;
}
.why-we-started {
  position: absolute;
  top: 80px;
  right: 437px;
  letter-spacing: 3px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--body-1);
}
.content2 {
  position: relative;
  background-color: var(--light);
  width: 706px;
  height: 584px;
  margin-left: -375px;
}
.special-post {
  position: absolute;
  top: 2963px;
  left: 80px;
  width: 1280px;
  height: 705px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.choose-a-catagory1 {
  position: relative;
  letter-spacing: -2px;
  line-height: 48px;
}
.business {
  position: absolute;
  top: 96px;
  right: 157px;
  letter-spacing: -1px;
  line-height: 40px;
}
.lorem-ipsum-dolor4 {
  position: absolute;
  top: 140px;
  right: 32px;
  font-size: var(--body-1-size);
  line-height: 28px;
  font-family: var(--body-1);
  color: var(--medium-grey);
  display: inline-block;
  width: 232px;
}
.icon,
.icon-background {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.icon-background {
  height: 21.05%;
  width: 16.22%;
  top: 14.04%;
  right: 72.97%;
  bottom: 64.91%;
  left: 10.81%;
  max-width: 100%;
  max-height: 100%;
}
.icon {
  top: 32px;
  right: 216px;
  width: 48px;
  height: 48px;
}
.item3 {
  position: relative;
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 296px;
  height: 228px;
}
.startup {
  position: absolute;
  top: 96px;
  right: 167px;
  letter-spacing: -1px;
  line-height: 40px;
}
.icon-background1,
.shuttle-icon {
  position: absolute;
  top: 32px;
  right: 216px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.shuttle-icon {
  top: 44px;
  right: 229px;
  width: 23px;
  height: 23px;
  overflow: hidden;
}
.item-hover1 {
  position: relative;
  background-color: var(--yellow);
  width: 296px;
  height: 228px;
}
.economy {
  position: absolute;
  top: 96px;
  right: 146px;
  letter-spacing: -1px;
  line-height: 40px;
}
.icon-background2 {
  position: absolute;
  height: 21.05%;
  width: 16.22%;
  top: 14.47%;
  right: 72.97%;
  bottom: 64.47%;
  left: 10.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.technology {
  position: absolute;
  top: 96px;
  right: 117px;
  letter-spacing: -1px;
  line-height: 40px;
  display: inline-block;
  width: 147px;
}
.icon-background3 {
  position: absolute;
  height: 21.05%;
  width: 16.22%;
  top: 14.91%;
  right: 72.97%;
  bottom: 64.04%;
  left: 10.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cateories,
.choose-a-catagory {
  width: 1280px;
  display: flex;
  align-items: center;
}
.cateories {
  height: 228px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--heading-h3-size);
}
.choose-a-catagory {
  position: absolute;
  top: 2511px;
  left: 80px;
  height: 324px;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  font-size: var(--heading-h2-size);
}
.pattern-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 1061px;
  height: 23px;
  object-fit: cover;
}
.background {
  position: absolute;
  top: 23px;
  right: 0;
  background-color: var(--lavender);
  width: 1280px;
  height: 500px;
}
.lorem-ipsum-dolor8 {
  position: absolute;
  top: 140px;
  right: 0;
  line-height: 28px;
  color: var(--medium-grey);
  display: inline-block;
  width: 516px;
  height: 108.7px;
}
.creating-valuable-content {
  position: absolute;
  top: 44px;
  right: 35px;
  font-size: var(--heading-h3-size);
  letter-spacing: -1px;
  line-height: 40px;
  display: inline-block;
  font-family: var(--heading-h2);
  width: 481px;
}
.our-mision {
  position: absolute;
  top: 0;
  right: 391px;
  letter-spacing: 3px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.our-mission {
  position: absolute;
  top: 121px;
  left: 656px;
  width: 516px;
  height: 248.7px;
}
.read-more4 {
  position: absolute;
  top: 276px;
  right: 407px;
  font-size: var(--font-size-lg);
  line-height: 32px;
  display: flex;
  color: var(--purple);
  align-items: center;
  width: 108px;
}
.lorem-ipsum-dolor9,
.we-are-a {
  position: absolute;
  display: inline-block;
}
.lorem-ipsum-dolor9 {
  top: 204px;
  right: 0;
  line-height: 28px;
  font-family: var(--body-1);
  color: var(--medium-grey);
  width: 515px;
  height: 56px;
}
.we-are-a {
  top: 44px;
  right: 21px;
  font-size: var(--heading-h2-size);
  letter-spacing: -2px;
  line-height: 48px;
  width: 494px;
}
.about-us4 {
  position: absolute;
  top: 0;
  right: 411px;
  letter-spacing: 3px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--body-1);
}
.about-us-our-mission,
.about-us3 {
  position: absolute;
  top: 119px;
  left: 80px;
  width: 515px;
  height: 308px;
  font-family: var(--heading-h2);
}
.about-us-our-mission {
  top: 1860px;
  width: 1280px;
  height: 523px;
  font-family: var(--body-1);
}
.background1 {
  position: absolute;
  top: 0;
  right: -733px;
  border: 1px solid var(--medium-grey);
  box-sizing: border-box;
  width: 733px;
  height: 724px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  opacity: 0.1;
}
.button8 {
  position: absolute;
  top: 636px;
  left: 32px;
  background-color: var(--yellow);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-29xl);
}
.lorem-ipsum-dolor10 {
  position: relative;
  letter-spacing: -1px;
  line-height: 40px;
  display: inline-block;
  width: 669px;
}
.duis-aute-irure {
  position: relative;
  font-size: var(--body-1-size);
  line-height: 28px;
  font-family: var(--body-1);
  color: var(--medium-grey);
  display: inline-block;
  width: 551px;
}
.featured-info {
  position: absolute;
  top: 452px;
  left: 32px;
  width: 669px;
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--heading-h3-size);
}
.john-doe {
  color: var(--purple);
}
.by-john-doe-container {
  position: absolute;
  top: 416px;
  right: 499px;
  font-size: var(--label-01-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-1);
  white-space: pre-wrap;
  color: var(--dark-grey);
}
.httpswwwpexelscomphotow-icon1 {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 669px;
  height: 352px;
  object-fit: cover;
}
.post-wrapper {
  position: relative;
  width: 733px;
  height: 724px;
  font-size: var(--font-size-lg);
}
.featured-post {
  width: 733px;
  height: 804px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.all-posts1 {
  position: absolute;
  top: 0;
  right: 384px;
  font-size: var(--heading-h2-size);
  letter-spacing: -2px;
  line-height: 48px;
  font-family: var(--heading-h2);
  color: var(--black);
}
.view-all {
  position: absolute;
  top: 11px;
  right: 2px;
  font-size: var(--body-1-size);
  line-height: 28px;
  color: var(--purple);
}
.shape {
  position: absolute;
  top: 0;
  right: -517px;
  background-color: var(--light);
  width: 517px;
  height: 181px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.by-john-deo-container {
  position: absolute;
  top: 32px;
  right: 286px;
  line-height: 20px;
  font-weight: 500;
  white-space: pre-wrap;
}
.figma-design-systems {
  position: absolute;
  top: 60px;
  right: 116px;
  font-size: var(--heading-h4-size);
  line-height: 32px;
  display: inline-block;
  font-family: var(--heading-h2);
  color: var(--black);
  width: 369px;
}
.item6,
.shape1 {
  position: absolute;
  width: 517px;
  height: 181px;
}
.item6 {
  top: 80px;
  left: 0;
}
.shape1 {
  top: 0;
  right: -517px;
  background-color: var(--light-yellow);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.by-john-doe-container1 {
  position: absolute;
  top: 32px;
  right: 300.9px;
  line-height: 20px;
  font-weight: 500;
  white-space: pre-wrap;
}
.figma-design-systems1 {
  position: absolute;
  top: 60px;
  right: 115.7px;
  font-size: var(--heading-h4-size);
  line-height: 32px;
  display: inline-block;
  font-family: var(--heading-h2);
  color: var(--black);
  width: 369.2px;
}
.item-hover2,
.item7,
.item8 {
  position: absolute;
  top: 261px;
  left: 0;
  width: 517px;
  height: 181px;
}
.item7,
.item8 {
  top: 442px;
}
.item8 {
  top: 623px;
}
.all-posts {
  position: relative;
  width: 517px;
  height: 804px;
  font-size: var(--label-01-size);
  color: var(--dark-grey);
  font-family: var(--body-1);
}
.featured-posts {
  position: absolute;
  top: 928px;
  left: 80px;
  width: 1282px;
  height: 804px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--heading-h2-size);
}
.httpswwwpexelscomphotom-icon1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 1440px;
  height: 720px;
  object-fit: contain;
}
.button9 {
  position: absolute;
  top: 344px;
  left: 0;
  background-color: var(--yellow);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-29xl);
  font-size: var(--font-size-lg);
  color: var(--black);
  font-family: var(--heading-h2);
}
.duis-aute-irure1 {
  position: absolute;
  top: 240px;
  right: 205px;
  line-height: 28px;
  display: inline-block;
  width: 599px;
}
.james-west {
  color: var(--yellow);
}
.by-james-west-container {
  position: absolute;
  top: 196px;
  right: 560px;
  line-height: 28px;
  white-space: pre-wrap;
}
.step-by-step-guide-to {
  position: absolute;
  top: 44px;
  right: 0;
  font-size: var(--display-size);
  letter-spacing: -2px;
  line-height: 64px;
  display: inline-block;
  font-family: var(--heading-h2);
  width: 803px;
}
.posted-on {
  font-weight: 500;
}
.span {
  font-weight: 600;
}
.startup1 {
  font-weight: 900;
}
.posted-on-startup-container {
  position: absolute;
  top: 0;
  right: 581px;
  letter-spacing: 3px;
  line-height: 20px;
  text-transform: uppercase;
}
.hero-info {
  position: absolute;
  top: 128px;
  left: 80px;
  width: 804px;
  height: 400px;
}
.home-hero {
  position: absolute;
  top: 80px;
  right: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    transparent,
    rgba(0, 0, 0, 0.6)
  );
  width: 1440px;
  height: 720px;
  color: var(--light);
  font-family: var(--body-1);
}
.button10,
.links-list3 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button10 {
  top: 12px;
  left: 1181px;
  background-color: var(--light);
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-29xl);
}
.links-list3 {
  top: 26px;
  left: 844px;
  width: 305px;
  height: 29px;
  align-items: center;
  gap: var(--gap-5xl);
  font-size: var(--body-1-size);
  color: var(--light);
  font-family: var(--body-1);
}
.logo-icon3 {
  position: absolute;
  top: 25px;
  left: 83px;
  width: 140px;
  height: 28.4px;
  overflow: hidden;
  object-fit: cover;
}
.navbar1 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--black);
  width: 1440px;
  height: 80px;
  font-size: var(--font-size-lg);
}
.home2 {
  background-color: var(--light);
  width: 1440px;
  height: 5996px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-1-size);
  color: var(--black);
  font-family: var(--heading-h2);
}
